<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.stone4" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SESCIP_Vistorias" >

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6018756003845465/2294999075"/>

        <activity
            android:name=".resultados.Consulta_Rapida_NT"
            android:label="Detalhes"
            android:launchMode="singleTop"
            android:parentActivityName=".resultados.Consulta_Rapida_Detalhes" >
        </activity>
        <activity
            android:name=".resultados.Consulta_Rapida_Detalhes"
            android:label="Consulta Rápida"
            android:launchMode="singleTop"
            android:parentActivityName=".main.vistoria.Consulta_rapida" >
        </activity>
        <activity
            android:name=".resultados.Bizus_NT"
            android:label="Norma Técnica"
            android:launchMode="singleTop"
            android:parentActivityName=".resultados.VistoriaInteligente_Resultado_Detalhes" >
        </activity>
        <activity
            android:name=".resultados.VistoriaInteligente_Resultado_Detalhes"
            android:label="Detalhes"
            android:launchMode="singleTop"
            android:parentActivityName=".resultados.VistoriaInteligente_Resultado" >
        </activity>
        <activity
            android:name=".resultados.VistoriaInteligente_Resultado"
            android:label="Resultado Vistoria Inteligente"
            android:launchMode="singleTop"
            android:parentActivityName=".resultados.Controle_Resultado" >
        </activity>
        <activity
            android:name=".criterios.Prisoes"
            android:label="Prisões"
            android:parentActivityName=".criterios.Altura" />
        <activity
            android:name=".criterios.Publico"
            android:label="Público"
            android:parentActivityName=".criterios.Altura" />
        <activity
            android:name=".criterios.Deteccao_F4"
            android:label="Divisão F4"
            android:parentActivityName=".criterios.Altura" />
        <activity
            android:name=".criterios.Alojameos"
            android:label="Depósito"
            android:parentActivityName=".criterios.Altura" />
        <activity
            android:name=".criterios.Deposito"
            android:label="Depósito"
            android:parentActivityName=".criterios.Altura" />
        <activity
            android:name=".criterios.LiquidosM2"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".criterios.Tunel_M1"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".resultados.Controle_Resultado"
            android:label="Vistoria Inteligente"
            android:launchMode="singleTop"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".criterios.Pavimentos"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".criterios.Lotacao" />
        <activity
            android:name=".criterios.Lotacao"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".criterios.Altura" />
        <activity
            android:name=".divisoes.DivisaoN"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoM"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoL"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoJ"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoI"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoH"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoG"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoF"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoE"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoD"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoC"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoB"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".divisoes.DivisaoA"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".criterios.Altura"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".criterios.Area" />
        <activity
            android:name=".criterios.Area"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.vistoria.VistoriaInteligente" />
        <activity
            android:name=".main.vistoria.CertiPreviaPassoApasso"
            android:label="Passo-a-Passo"
            android:parentActivityName=".main.Vistorias" />
        <activity
            android:name=".main.vistoria.Consulta_rapida"
            android:label="Consulta Rapida"
            android:launchMode="singleTop"
            android:parentActivityName=".main.Vistorias" />
        <activity
            android:name=".main.vistoria.VistoriaInteligente"
            android:label="Vistoria Inteligente"
            android:parentActivityName=".main.Vistorias" />
        <activity
            android:name=".main.Vistorias"
            android:label="Vistorias"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:label="Vistoria Fácil" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.vistoria.perguntas_frequentes.Perguntas_Frequentes"
            android:label="Perguntas Frequentes"
            android:launchMode="singleTop"
            android:parentActivityName=".main.Vistorias" />
    </application>

</manifest>